<div class="container">
  <div class="display-4 mt-3">Login</div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email Address"
        name="email"
        ngModel
        required
        email
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password (at least 6 characters)</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        name="password"
        minlength="6"
        ngModel
        required
        password
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
      Login
    </button>
  </form>
  <div *ngIf="loginFailFlag" class="alert alert-danger mt-3" role="alert">
    You entered the wrong Email and Password combination.
  </div>
</div>
