nav {
  border-bottom: 2px solid #4285F4;
}
nav .container .logout > a {
  cursor: pointer;
}

/* Media Queries */
@media(max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

/* Utilities Styling */
.googleBlue { color: #4285F4; }
.googleRed { color: #DB4437; }
.googleYellow { color: #F4B400; }
