<div class="container">
  <nav>
    <h3>
      <a routerLink="/">
        <span class="googleBlue">Search</span>
        <span class="googleRed">Engine</span>
        <span class="googleYellow">Battle</span>
      </a>
    </h3>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="!userLoggedIn()">
        <a class="nav-link text-success" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="userLoggedIn()">
        <a class="nav-link text-danger" routerLink="/" (click)="logout()"
          >Logout</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/leaderboard">Leaderboard!</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>