<div class="container">
  <header>
    <h1>Search Engine Battle</h1>
    <button type="button" class="btn btn-primary" (click)="playGame()" *ngIf="playButtonFlag">Play!</button>
  </header>

  <div *ngIf="!playButtonFlag">
    <div id="score">
      <p>Score: {{ score }}</p>
      <p>Lives: {{ lives }}</p>
    </div>

    <div class="terms">
      <div id="term1">
        <h2> {{ term1.name }} </h2>
        <img [src]="myURL(1)" alt="" style="width: 400px">
      </div>
      <div id="term2">
        <h2> {{ term2.name }} </h2>
        <img [src]="myURL(2)" alt="" style="width: 400px">
      </div>
    </div>
    <hr>
    <div id="decision">
      <p>Which do you think has a higher search volume?</p>
      <div class="choices">
        <button type="button" class="btn btn-secondary" (click)="onAnswer(1)">{{ term1.name }}</button>
        <button type="button" class="btn btn-secondary" (click)="onAnswer(2)">{{ term2.name }}</button>
      </div>
    </div>
  </div>

  <div *ngIf="showScore">
    <h2>Your score was {{ score }}. Good job!</h2>
    <h3>Please click the button above to play again.</h3>
  </div>
</div>