<div class="container">
  <div class="endscreen" *ngIf="showScoreFlag">
    <h2>Score: {{ score }}</h2>
    <h3 [innerHTML]="endscreenMessage()"></h3>
    <br />
    <h3>
      See where you stack up on the leaderboard! Submit your score with a
      personal handle below.
    </h3>
    <hr />
  </div>
  <div class="play">
    <button
      type="button"
      class="btn btn-primary"
      (click)="playGame()"
      *ngIf="showPlayButtonFlag"
    >
      Play!
    </button>
  </div>

  <div class="game" *ngIf="!showPlayButtonFlag">
    <div class="score">
      <p>
        <span class="border border-success">Score: {{ score }}</span>
      </p>
      <p>
        <span class="border border-warning">Lives: {{ lives }}</span>
      </p>
    </div>

    <div class="searchterms">
      <div id="term1">
        <h2>{{ term1.name }}</h2>
        <img [src]="myURL(1)" />
      </div>
      <div id="term2">
        <h2>{{ term2.name }}</h2>
        <img [src]="myURL(2)" />
      </div>
    </div>

    <hr />

    <div class="decision">
      <p>Which do you think has a higher search volume?</p>
      <div class="choices">
        <button type="button" class="btn btn-secondary" (click)="onAnswer(1)">
          {{ term1.name }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="onAnswer(2)">
          {{ term2.name }}
        </button>
      </div>
    </div>
  </div>
  <div class="submitScore" *ngIf="showScoreFlag && isUserLoggedIn()">
    <hr />
    <br />
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-row">
        <div>
          <label class="sr-only" for="inlineFormInputGroupUsername"
            >Username</label
          >
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroupUsername"
              placeholder="Tim Apple"
              name="username"
              ngModel
            />
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div
    class="scoreAlert alert alert-info"
    role="alert"
    *ngIf="showScoreFlag && !isUserLoggedIn()"
  >
    Did you know you can submit your score and see how you stack up against
    other competitors? All you need to do is login and play the game!
  </div>
</div>
