<div class="startscreen" *ngIf="!playClickedFlag">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">
        You're about to play <span class="googleBlue">Search</span>
        <span class="googleRed">Engine</span>
        <span class="googleYellow">Battle</span>.
      </p>
      <p class="lead">
        Objective: You will be shown 2 popular search terms, and have to
        select the more popular one.
      </p>
      <p class="lead">
        It's quite a fun game, lets see how you do!
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="endscreen" *ngIf="showScoreFlag">
    <button type="button" class="btn btn-dark mb-2">
      Score <span class="badge badge-light">{{ score }}</span>
    </button>
    <p class="lead" [innerHTML]="endscreenMessage()"></p>
    <br />
    <p class="lead mb-2" *ngIf="showScoreFlag && isUserLoggedIn()">
      See where you stack up on the leaderboard! Submit your score with a
      personal handle below.
    </p>
    <hr />
  </div>
  <div class="play">
    <button
      type="button"
      class="btn btn-primary"
      (click)="playGame()"
      *ngIf="showPlayButtonFlag"
    >
      Play!
    </button>
  </div>

  <div class="game mt-3" *ngIf="!showPlayButtonFlag">
    <div class="score">
      <p>
        <span class="border border-success">Score: {{ score }}</span>
      </p>
      <p>
        <span class="border border-warning">Lives: {{ lives }}</span>
      </p>
    </div>

    <div class="searchterms">
      <div id="term1">
        <h2>{{ term1.name }}</h2>
        <img [src]="myURL(1, t)" #t />
      </div>
      <div id="term2">
        <h2>{{ term2.name }}</h2>
        <img [src]="myURL(2, u)" #u />
      </div>
    </div>

    <hr />

    <div class="decision">
      <p>Which do you think has a higher search volume?</p>
      <div class="choices">
        <button type="button" class="btn btn-secondary" (click)="onAnswer(1)">
          {{ term1.name }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="onAnswer(2)">
          {{ term2.name }}
        </button>
      </div>
    </div>
  </div>
  <div class="submitScore" *ngIf="showScoreFlag && isUserLoggedIn()">
    <hr />
    <br />
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-row">
        <div>
          <label class="sr-only" for="inlineFormInputGroupUsername"
            >Username</label
          >
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input
              type="text"
              class="form-control"
              id="inlineFormInputGroupUsername"
              placeholder="Tim Apple"
              name="username"
              ngModel
              required
            />
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div
    class="scoreAlert alert alert-info"
    role="alert"
    *ngIf="showScoreFlag && !isUserLoggedIn()"
  >
    Did you know you can submit your score and see how you stack up against
    other competitors? All you need to do is login and play the game!
  </div>
</div>
